.ReactVirtualized__Table__headerRow {
    background-color: #494949;
    border-radius: 12px;
    text-transform : uppercase;
    padding: 0 18px;
}
@media (max-width: 900px) {

}

.ReactVirtualized__Table__row{
    background-color:#5d5d5d;
    border-bottom-width: 1px;
    padding: 0 14px;
}
.ReactVirtualized__Table__row:hover{
    background-color:#494949;
    border-bottom-width: 1px;
    border-bottom-color: #4c4c4c;
}
.ReactVirtualized__Table__row:nth-child(even){
    background-color: #494949;
}