/* Collection default theme */

.ReactVirtualized__Collection {
}

.ReactVirtualized__Collection__innerScrollContainer {
}

/* Grid default theme */

.ReactVirtualized__Grid {
}

.ReactVirtualized__Grid__innerScrollContainer {
}

/* Table default theme */

.ReactVirtualized__Table {
}

.ReactVirtualized__Table__Grid {
}

.ReactVirtualized__Table__headerRow {
  font-weight: 600;
  font-size: 12px;
  justify-content:center;
  background-color: #ddd;
  border-radius:6px;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}
.ReactVirtualized__Table__row {
  display: -webkit-box;
  display: flex;
  border-radius:6px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
          justify-content: center;
}
.ReactVirtualized__Table__row:hover {

  background-color: #bbebea !important;
}
.ReactVirtualized__Table__row:nth-child(even) {
    background-color:#efeeee;
}

@media only screen 
and (max-width: 667px)
{
  /* .ReactVirtualized__Table__row {
    display : flex !important;
    flex-direction: column;
    height: auto;
  }
  .ReactVirtualized__Table__headerRow{
    display: none;
  }
  .ReactVirtualized__Table__rowColumn{
    flex: 1 1 100% !important;
    overflow: visible !important;
  } */
}

.ReactVirtualized__Table__headerTruncatedText {
  max-width: 100%;
  padding: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  -webkit-box-flex: 0;
          flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* List default theme */

.ReactVirtualized__List {
}

.FarmaFuncionario {
  background-color: #353287;
  color: #fff;
  font-weight: bold;
  font-size:10px;
  text-align: center;
  border-radius:6px;
}
.AsoBlupy {
  background-color: #33aae2;
  color: #fff;
  font-weight: bold;
  font-size:10px;
  text-align: center;
  border-radius:6px;
}

